* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.4;
}

section {
  max-width: 1068px;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3;
  color: #050914;
}

h1, h2 {
  font-family: 'Bungee';
  margin: 24px 0;
}

button {
  all: unset
}

.hero {
  width: 100%;
  height: 720px;
  background: url(/assets/hero-no-parallax.svg) no-repeat bottom left;
  background-size: cover;
  margin-bottom: -6px;
}

.intro h1 {
  color: #FCFDFC;
  font-size: 50px;
}

.intro p {
  color: #FFF;
  font-size: 24px;
}

.social-media {
  width: 256px;
  margin: 24px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span.icon {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

span.icon.discord {
  background-image: url(/assets/icons/discord.svg);
}

span.icon.twitter {
  background-image: url(/assets/icons/twitter.svg);
}

span.icon.twitch {
  background-image: url(/assets/icons/twitch.svg);
}

ul.carousel {
  list-style: none;
  display: flex;
  width: 100%;
}

ul.carousel li {
  display: block;
  transform: scale(0.9);
}

ul.carousel li img {
  max-width: 876px;
  height: auto;
  cursor: pointer;
}

.gradient-background {
  padding: 30px 0;
  background: linear-gradient(to bottom, #7E5002 20.16%, #E69405 36.19%, #FAD121 98.57%);
}

.details h2 {
  color: #73263D;
  font-size: 48px;
}

.details p {
  color: #3D1132;
  font-size: 24px;
}

.details ul li {
  color: #3D1132;
  font-size: 24px;
}

#carousel {
  position: relative;
  overflow: hidden;
}

#carousel button.left, #carousel button.right {
  position: absolute;
  top: 250px;
  z-index: 1000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  /* visibility: hidden; */
}

#carousel button.left {
  left: 10px;
}

#carousel button.right {
  right: 10px;
}

button#play {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 25px 0;
  background: url(/assets/btn.svg) no-repeat;
  background-size: cover;
  color: #FAFFFF;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;
}

button#play:hover {
  color: silver;
}

button#play:active {
  color: silver;
}

#game-features ul {
  list-style: none;
}

#game-features ul li {
  margin: 18px 0;
}

#game-features ul li::before {
  content: '-';
}

#reqs ul {
  display: grid;
  justify-content: center;
  list-style: none;
}

#reqs ul li {
  text-align: left;
}

#keys {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 80px;
  height: 160px;
  animation: keys 1350ms linear infinite;
  visibility: hidden;
}

.egg {
  text-align: center;
  margin: 24px 0;
}

.egg::before, .egg::after {
  content: '';
  display: inline-block;
  position: relative;
  top: -20px;
  margin: 0 6px;
  background-color: #FFF;
  height: 4px;
  width: 40%;
}

#backdrop {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  visibility: hidden;
}

#logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes keys {
  0% {
    background: url(/assets/key/interrogachave1.png);
  }
  20% {
    background: url(/assets/key/interrogachave2.png);
  }
  40% {
    background: url(/assets/key/interrogachave3.png);
  }
  60% {
    background: url(/assets/key/interrogachave4.png);
  }
  80% {
    background: url(/assets/key/interrogachave5.png);
  }
  100% {
    background: url(/assets/key/interrogachave6.png);
  }
}
